{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-typescript",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    "@emotion/babel-plugin",
    "babel-plugin-twin",
    "babel-plugin-macros",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@assets": "./src/assets",
          "@components": "./src/components",
          "@styles": "./src/styles"
        }
      }
    ]
  ]
}
