**/packages/library/build/*
**/packages/library/dist/*
**/packages/library/node_modules/*
**/packages/library/storybook-static/*
**/packages/library/.yarn/*

**/packages/app/.next/*
**/packages/app/node_modules/*
**/packages/app/stories/*
**/packages/app/storybook-static/*
**/packages/app/.yarn/*
**/packages/app/public/workbox-*.js
**/packages/app/public/sw.js
**/packages/app/public/fallback-*.js