/node_modules
/yarn-error.log
.env

/packages/library/dist
/packages/library/node_modules
/packages/library/storybook-static
/packages/library/build-storybook.log*
/packages/library/yarn-error.log

/examples/**/node_modules
/examples/**/build
/examples/**/yarn-error.log