@font-face {
  font-family: 'Burbank Big Condensed';
  src: url('http://db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.eot'); /* IE9*/
  src: url('http://db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('http://db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.woff2')
      format('woff2'),
    /* chrome firefox */
      url('http://db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.woff')
      format('woff'),
    /* chrome firefox */
      url('http://db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.ttf')
      format('truetype'),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url('http://db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.svg#Burbank Big Condensed')
      format('svg'); /* iOS 4.1- */
}

.animate-fish {
  animation: fish 5s ease-in-out infinite;
}
@keyframes fish {
  0% {
    transform: translateY(10px) scaleX(-1);
  }
  50% {
    transform: translateY(-5px) scaleX(-1);
  }
  100% {
    transform: translateY(10px) scaleX(-1);
  }
}

.animate-conflict {
  animation: ping 1.2s cubic-bezier(0, 0, 0.2, 1) infinite;
}
@keyframes ping {
  from {
    transform: scale(1);
    -ms-transform: scale(1);
    /* IE 9 */
    -webkit-transform: scale(1);
    /* Safari and Chrome */
    -o-transform: scale(1);
    /* Opera */
    -moz-transform: scale(1);
    /* Firefox */
    opacity: 0.7;
    margin-bottom: 0;
  }
  to {
    transform: scale(2);
    -ms-transform: scale(2);
    /* IE 9 */
    -webkit-transform: scale(2);
    /* Safari and Chrome */
    -o-transform: scale(2);
    /* Opera */
    -moz-transform: scale(2);
    /* Firefox */
    opacity: 0;
    margin-bottom: 25px;
  }
}
