.animate-fish {
  animation: fish 5s ease-in-out infinite;
}

@font-face {
  font-family: 'Burbank Big Condensed';
  src: url('//db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.eot');
  src: url('//db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.svg#Burbank Big Condensed')
      format('svg');
}

@keyframes fish {
  0% {
    transform: translateY(10px) scaleX(-1);
  }
  50% {
    transform: translateY(-5px) scaleX(-1);
  }
  100% {
    transform: translateY(10px) scaleX(-1);
  }
}

.animate-conflict {
  animation: ping 1.2s cubic-bezier(0, 0, 0.2, 1) infinite;
}
@keyframes ping {
  from {
    transform: scale(1);
    -ms-transform: scale(1);
    /* IE 9 */
    -webkit-transform: scale(1);
    /* Safari and Chrome */
    -o-transform: scale(1);
    /* Opera */
    -moz-transform: scale(1);
    /* Firefox */
    opacity: 0.7;
    margin-bottom: 0;
  }
  to {
    transform: scale(2);
    -ms-transform: scale(2);
    /* IE 9 */
    -webkit-transform: scale(2);
    /* Safari and Chrome */
    -o-transform: scale(2);
    /* Opera */
    -moz-transform: scale(2);
    /* Firefox */
    opacity: 0;
    margin-bottom: 25px;
  }
}

.backgroundSlider-0 {
  filter: brightness(5);
  animation: backgroundSlider-0 0.5s linear both;
}
.backgroundSlider-1 {
  filter: brightness(5);
  animation: backgroundSlider-1 0.5s linear both;
}
.backgroundSlider-2 {
  filter: brightness(5);
  animation: backgroundSlider-2 0.5s linear both;
}
.backgroundSlider-3 {
  filter: brightness(5);
  animation: backgroundSlider-3 0.5s linear both;
}
.backgroundSlider-4 {
  filter: brightness(5);
  animation: backgroundSlider-4 0.5s linear both;
}
@keyframes backgroundSlider-0 {
  from {
    filter: brightness(1.5);
  }
  to {
    filter: brightness(1);
  }
}
@keyframes backgroundSlider-1 {
  from {
    filter: brightness(1.5);
  }
  to {
    filter: brightness(1);
  }
}
@keyframes backgroundSlider-2 {
  from {
    filter: brightness(1.5);
  }
  to {
    filter: brightness(1);
  }
}
@keyframes backgroundSlider-3 {
  from {
    filter: brightness(1.5);
  }
  to {
    filter: brightness(1);
  }
}
@keyframes backgroundSlider-4 {
  from {
    filter: brightness(1.5);
  }
  to {
    filter: brightness(1);
  }
}
.imageSlider-0 {
  opacity: 1;
  animation: imageSlider-0 0.5s linear both;
}
.imageSlider-1 {
  opacity: 1;
  animation: imageSlider-1 0.5s linear both;
}
.imageSlider-2 {
  opacity: 1;
  animation: imageSlider-2 0.5s linear both;
}
.imageSlider-3 {
  opacity: 1;
  animation: imageSlider-3 0.5s linear both;
}
.imageSlider-4 {
  opacity: 1;
  animation: imageSlider-4 0.5s linear both;
}
@keyframes imageSlider-0 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes imageSlider-1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes imageSlider-2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes imageSlider-3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes imageSlider-4 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
